.discord {
    background: linear-gradient(to left, var(--bluegray-700) 50%, var(--bluegray-800) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--bluegray-800);
}
.discord:hover {
    background-position: left bottom;
}
.discord i {
    background-color: var(--bluegray-800);
}
.discord:focus {
    box-shadow: 0 0 0 1px var(--bluegray-500);
}
