.header {
    width: 100%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /*position: absolute;*/
    /*bottom: 0;*/
    line-height: 2.5;
    background-color: var(--surface-200);
}
