* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_11 {
  width: 100%;
  height: 700px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_12 {
  width: 100%;
  height: 700px;
  /*background: url("../images/v0_12.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_13 {
  width: 100%;
  height: 700px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_14 {
  width: 790px;
  height: 633px;
  /*background: url("../images/v0_14.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 500px;
  overflow: hidden;
}
.v0_15 {
  width: 611px;
  height: 249px;
  /*background: url("../images/v0_15.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 150px;
  overflow: hidden;
}
.v0_16 {
  width: 439px;
  color: rgba(58,58,58,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v0_17 {
  width: 601px;
  /*color: url("../images/v0_17.png");*/
  position: absolute;
  top: 39px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v0_18 {
  width: 611px;
  color: rgba(58,58,58,1);
  position: absolute;
  top: 117px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v0_19 {
  width: 197px;
  height: 44px;
  /*background: url("../images/v0_19.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 40px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v0_20 {
  width: 117px;
  color: rgba(58,58,58,1);
  position: absolute;
  top: 10px;
  left: 40px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
